.footer {
    position: relative;
}
.footer::before {
    content: '';
    position: absolute;
    background-image: url('/images/footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: 'center';
    width: 100vw;
    height: 200px;
    z-index: -1;
    left: 0;
    bottom: 0;

}