/* 페이지 로더 */
.loader_wrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.loader_dot {
    display: inline-block;
    width: 25px;
    border-radius: 50%;
    margin: 0 1em;
    height: 25px;
    background: white;
}

.loader_dot:nth-of-type(1) {

    animation-delay: 1s;
}

.loader_dot:nth-of-type(2) {
    animation-delay: 2s;
}

.loader_dot:last-child {
    animation-delay: 3s;
}

/* 뒤로가기 버튼 */


.back_btn::after {
    content: '';
    position: absolute;
}

.back_btn:hover::after {
    content: '뒤로가기';
    height: 25px;
    color:white;
    font-weight: 500;
    font-size: 15px;
    width: 80px;
    padding:0 0 0 5px;
    border-radius: 5px;
    left: 3em;
    top: 0;
    background-color:black;
}


